/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif,Arial, Helvetica, sans-serif;

}
/*header*/
header {
    
    background-color: lightgray;
    
}
/*title*/
h1 {font-size: 50px; 
    color: rgb(0, 0, 0);

}

.button1{
    background-color: rgb(88, 168, 239);
    color: white;
}
.button2{
    background-color: white;
    color: grey
}
.containers{
    text-align: center;
}

.true{
   color: green;
}
.editorial{
    background-color: aqua;
    color: white;
}
 .q1{
    background-color: blueviolet;
    color: white;
 }

 .recruiting{
    background-color: green;
    color: white;
 }
 .false{
    color: red;
 }
 .mobile{
    background-color: orange;
    color: white;
 }