/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif,Arial, Helvetica, sans-serif;

}
/*header*/
header {
    padding: 20px;
    background-color: lightgray;
    
}
/*title*/
h1 {font-size: 50px; color: #000000;
    
}

.button1{
    background-color: rgb(88, 168, 239);
    color: white;
}
.button2{
    background-color: white;
    color: grey
}
