/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif,Arial, Helvetica, sans-serif;

}
/*header*/
.header {
  display: flex;
  align-items: center;
  padding: 20px;
  background: rgb(255, 255, 255);
  border-bottom: 5px solid white;
}
.logo {
  width: 50px;
  margin-right: 10px;
}

h1 {font-size: 40px; 
    color: black;

}

/*main*/
.container {
  background: white;
  width: 70%;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px lightgray;
}
/*toolbar*/
.toolbar{
    margin-bottom: 20px;
}
.btn-primary{
    background-color: rgb(88, 168, 239);
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    margin-right: 5px;
    font-size: 14px;
}
.btn-secondary{
    background-color: white;
    color: grey;
    padding: 6px 12px;
    border-radius: 4px;
    margin-right: 5px;
    font-size: 14px;
}
/*new task*/

.task {
  list-style: none;
  margin: 8px 0;
  font-size: 15px;
}

li.done::before {
  content: "✔";
  color: green
}
li.undone::before {
  content: "✘";
  color: red;
}


.editorial{
    background-color: dodgerblue;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 10px;
}

.q1 {
    background-color: purple;
    color: white;
    padding: 5px 5px;
    border-radius: 4px;
    font-size: 10px; 

}
 .recruiting{
    background-color: green;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 10px;
 }

 .mobile{
    background-color: orange;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 10px;
 }
 .website{
    background-color: palevioletred;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 10px;
 }
 .sales{
    background-color: darkolivegreen;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 10px;
 }
 .editorial{
    background-color: dodgerblue;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 10px;
 }
 